* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  padding: 20px;
  background: url("image.jpg") no-repeat center center;
  background-size: cover;
  background-color: #000;
}
.box {
  position: relative;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 30px;
  max-width: 600px;
  width: 100%;
  margin-top: 20px;
  height: auto;
  overflow: auto;
  border: 1px solid #97714d;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}
.box h2 {
  color: white;
  margin-top: 30px;
  margin-bottom: 10px;
  padding: 15px;
  text-align: left;
  font-size: 30px;
}
.box h3 {
  color: white;
  margin: 20px;
}
.inputBox input {
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid white;
  padding: 10px;
  color: white;
  background-color: transparent;
  transition: border-color 0.5s;
  font-weight: 700;
}
.inputBox input:focus {
  border-color: #97714d;
}

.box #submit {
  padding: 7px;
  font-weight: 700;
  border: none;
  width: 535px;
  border-radius: 7px;
  height: 45px;
  font-size: 20px;
  cursor: pointer;
  background: #97714d;
  color: #fff;
}
.box #submit:hover {
  background: #fff;
  transition: 0.6s;
  color: #000;
  transition: 0.9s;
}

#resume-display {
  margin: auto;
  max-width: 600px;
  padding: 20px;
  border: 2px solid #97714d;
  line-height: 2;
  border-radius: 10px;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  outline: none;
}
#resume-display h2 {
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-size: 35px;
}

#shareable-link {
  border: 2px solid #97714d;
  margin-top: 30px;
  border-radius: 10px;
  height: 250px;
  width: 100%;
  padding: 30px;
}
#shareable-link p {
  color: #fff;
}

#shareable-link h2 {
  text-align: center;
  font-size: 35px;
}
#shareable-link #share-link {
  text-align: center;
  padding-right: 60px;
}
#shareable-link #download-pdf {
  height: 35px;
  width: 100%;
  border: 1px solid #97714d;
  border-radius: 10px;
  margin: 10px;
  cursor: pointer;
  background: #97714d;
  color: white;
  transition: 0.9s;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#shareable-link #download-pdf:hover {
  color: #000;
  background: white;
}

#share-link span {
  text-align: center;
  color: #97714d;
  display: flex;
  justify-content: center;
  align-items: center;
}

#share-link span:hover {
  color: white;
}
#shareable-link a {
  text-decoration: none;
}

@media (max-width: 540px) {
  .box h2 {
    text-align: center;
  }
}

@media (max-width: 438px) {
  .box #submit {
    width: 100%;
  }
  .shareable-link {
    width: 100%;
    padding: 0;
  }
}
@media (min-width: 375px), (max-width: 320px) {
  #shareable-link {
    width: 100%;
    padding: 0;
  }
  #shareable-link h2 {
    font-size: 1.6rem;
  }
  #shareable-link p {
    font-size: 0.9rem;
    text-align: center;
    margin: 0 1rem;
    margin-top: -1rem;
  }
  #shareable-link span {
    text-align: center;
  }
  #shareable-link #download-pdf {
    width: 85%;
    margin-left: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 768px) {
  #shareable-link #download-pdf {
    margin-left: 2.2rem;
  }
}
